#########################
### MAIN CONFIG FILES ###
#########################

##### MCU configuration -----------------------------------------
#[include config/mcus/BTT_M5P.cfg]
#[include config/mcus/BTT_SKR2.cfg]
#[include config/mcus/BTT_SKR_PICO.cfg]
# --------------------------------------------------------------------

# [include config/mcus/BTT_EBB36_42_v1.2.cfg] # defined as "toolhead"
# [include config/mcus/BTT_EBB_SB2040_v1.cfg] # defined as "toolhead"

##### Extruder configuration -----------------------------------------
# [include config/hardware/extruder/cw2.cfg]
# [include config/hardware/extruder/creality_sprite.cfg]
# --------------------------------------------------------------------

# [include config/mcus/Fysetc_ERCF_ERB.cfg] # defined as "ercf"


###########################
### HARDWARE COMPONENTS ###
###########################

##### XY axis motors configuration -----------------------------------
# [include config/hardware/axis/XY/0.9d_xy.cfg]
# [include config/hardware/axis/XY/1.8d_xy_V0specific.cfg]
# [include config/hardware/axis/XY/1.8d_xy.cfg]
# --------------------------------------------------------------------

##### Z axis motors configuration -----------------------------------
# [include config/hardware/axis/Z/V2.4_1.8d_galileo_z.cfg]
# [include config/hardware/axis/Z/Trident_1.8d_TR8x8_z.cfg]
# [include config/hardware/axis/Z/Trident_1.8d_TR8x4_z.cfg]
# [include config/hardware/axis/Z/TriZero_0.9d_z.cfg]
# [include config/hardware/axis/Z/V2.4_1.8d_base_z.cfg]
# --------------------------------------------------------------------

##### Dimensions configuration ---------------------------------------
# [include config/hardware/axis/default_250mm.cfg]
# [include config/hardware/axis/default_300mm.cfg]
# [include config/hardware/axis/default_350mm.cfg]

### If you need to specify a custom size, use your overrides.cfg file instead. These
### files are default generic configs that are only made for the common machines sizes
# --------------------------------------------------------------------

##### Extruder configuration -----------------------------------------
# [include config/hardware/extruder/cw2.cfg]
# [include config/hardware/extruder/creality_sprite.cfg]
# --------------------------------------------------------------------

##### Heated bed configuration ---------------------------------------
# [include config/hardware/heated_bed.cfg]
# --------------------------------------------------------------------

##### Probe configuration --------------------------------------------
# [include config/hardware/probes/dockable_probe.cfg]
# --------------------------------------------------------------------

##### Fans configuration ---------------------------------------------
# [include config/hardware/fans/hotend_fan.cfg]
# [include config/hardware/fans/part_fan.cfg]
# [include config/hardware/fans/controller_fan.cfg]
# [include config/hardware/fans/rpi_fan.cfg]
# --------------------------------------------------------------------

##### Servos configuration --------------------------------------------
# [include config/hardware/servos/probe_servo.cfg]
# --------------------------------------------------------------------

##### Other temperature sensors configuration ------------------------
# [include config/hardware/temperature_sensors/rpi_temp.cfg]
# [include config/hardware/temperature_sensors/mcu_temp.cfg]
# [include config/hardware/temperature_sensors/toolhead_mcu_temp.cfg]
# [include config/hardware/temperature_sensors/chamber_temp.cfg]
# --------------------------------------------------------------------

##### Lights and leds configuration ----------------------------------
# [include config/hardware/lights/status_leds.cfg]
# --------------------------------------------------------------------

##### Accelerometers sensors configuration ---------------------------
# [include config/hardware/accelerometers/adxl345.cfg]
# [include config/hardware/accelerometers/adxl345_ebb36_42.cfg]
# [include config/hardware/accelerometers/adxl345_ebbS2209_S2240.cfg]
# --------------------------------------------------------------------

##### Additional filters configuration -------------------------------
# [include config/hardware/filters/nevermore_filter.cfg]
# --------------------------------------------------------------------

##### Additional filters configuration -------------------------------
# [include config/hardware/ercf.cfg]
# --------------------------------------------------------------------


###################################
### KLIPPER SOFTWARE COMPONENTS ###
###################################

##### Bed mesh ------------------------------------------------------
# [include config/software/bed_mesh.cfg]
# -------------------------------------------------------------------

### Follow the Klipper documentation here: https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
### to find the best suited SGTHRS value according to your machine. Then add this value to your
### overrides.cfg as stated in the sensorless_homing.cfg file!
# -------------------------------------------------------------------

##### Firmware retraction -------------------------------------------
# [include config/software/firmware_rectraction.cfg]
# -------------------------------------------------------------------

##### Input shaper --------------------------------------------------
# [include config/software/input_shaper.cfg] # Don't forget to calibrate it!
# -------------------------------------------------------------------

##### Auto Z calibration plugin -------------------------------------
# [include config/software/z_calibration.cfg] # You need to install the plugin!
# -------------------------------------------------------------------


###################################
### DO NOT EDIT BELOW THIS LINE ###
###################################
[include config/machine.cfg]
[include variables.cfg]
[include mcus.cfg]
[include overrides.cfg]
